# =========================
# Python
# =========================
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ultralytics
.ultralytics-config/

# =========================
# AI Models
# =========================
models/
*.pt
*.onnx
*.engine

# =========================
# Uploads / Outputs
# =========================
uploads/
outputs/

# =========================
# Training / Experiments
# =========================
runs/
datasets/

# =========================
# Frontend (React/Vite)
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Logs
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db